       <div class="header_block">
        {{> headerDark}}
       </div>
      

        <main class="main">
          <div class="hero">
            {{#with hero}}
            <h1 class="hero_title">{{title}}</h1>
            <p class="description">{{description}}</p>

            {{#with button}}
            <div class="hero_button">
             <a href="{{url}}" class="hero_btn_inside">{{text}}</a>
            </div>
            {{/with}}

            {{/with}}
          </div>

          <div class="about">
              {{#with about}}
              <h2 class="about_heading">{{heading}}</h2>
              <p class="about_info">{{info}}</p>
              {{/with}}
            </div>

            <div class="our_articles">
              {{> articleDark}}
            </div>

        </main>
      
      <footer class="page_block">  
      {{> footerDark}}
      </footer>